.container-code {
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #DED6EA;
    align-items: center;
  }

.container-console {
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #EEE9F6;
  }

.CodeMirror{
    height: 440px;
    resize: vertical;
    font-family:monospace;
}

.Run{
  background-color: #5B4196;
  color: #ECECEC;
}

.Save{
  background-color: #519e49;
  color: #ECECEC;
}

.Open{
  background-color: #9379BA;
  color: #ECECEC;
}

.Bar{
  background-color: #9379BA;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.2rem;
}

.Bar-Items {
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-gap: 25px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content:flex-start;
  margin-left: 2rem;
  margin-top: 0.5rem;
 }